<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content" th:remove="tag">
    <div class="col">
        <div class="col border m-3 p-2">
            <div><label>Main Image</label></div>
            <img id="thumbnail" alt="Main Image Preview" class="img-fluid" th:src="@{${product.getMainImagePath()}}">
            <div>
                <input type="file" id="fileImage" name="fileImage" required accept="image/png, image/jpeg">
            </div>
        </div>
    </div>
<script>
</script>
</body>
</html>