<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: header('Products - Floyd Admin')"></head>

<body>
<div class="container-fluid">
    <div th:replace="fragments :: menu"></div>
    <div>
        <h1>Manage Products</h1>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <a th:href="@{/products/new}">Create New Product</a>
        </th:block>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/products/page/1}" class="form-inline m-2" method="get">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">

            Filter:
            &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary">
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="productFragments :: column_link('id', 'ID')"></th>
                <th>Main Image</th>
                <th th:replace="productFragments :: column_link('name', 'Product Name')"></th>
                <th>Brand</th>
                <th>Category</th>
                <th>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">Enabled</th:block>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td>[[${product.id}]]</td>
                <td>
                    <span th:if="${product.mainImage == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
                    <image th:if="${product.mainImage != null}" class="img-fluid" style="width: 100px" th:src="@{${product.getMainImagePath()}}"></image>
                </td>
                <td>
                    <a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}" title="View details of this product">[[${product.name}]]</a>
                </td>
                <td>[[${product.brand.name}]]</td>
                <td>[[${product.category.name}]]</td>
                <td>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <a th:if="${product.enabled == true}" class="fa-solid fa-check-circle fa-2x icon-cadetblue" th:href="@{'/products/' + ${product.id} + '/enabled/false'}" title="Disable this product"></a>
                        <a th:if="${product.enabled == false}" class="fa-solid fa-circle fa-2x icon-silver" th:href="@{'/products/' + ${product.id} + '/enabled/true'}" title="Enable this product"></a>
                    </th:block>
                </td>
                <td>
                    <a class="fa-solid fa-file-alt fa-2x icon-silver link-detail" th:href="@{'/products/detail/' + ${product.id}}" title="View details of this product"></a>
                    &nbsp; &nbsp;
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        <a class="fa-solid fa-pen-to-square fa-2x icon-silver" th:href="@{'/products/edit/' + ${product.id}}" title="Edit this product"></a>
                    </th:block>
                    &nbsp; &nbsp;
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <a class="fa-solid fa-trash fa-2x icon-silver link-delete" th:href="@{'/products/delete/' + ${product.id}}" th:productId="${product.id}" th:productName="${product.name}" title="Delete this product"></a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-5" th:if="${totalItems > 0}">
        <span>Showing brands of [[${totalItems}]] on page [[${currentPage}]]</span>
        <nav>
            <ul class="justify-content-center pagination m-3">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="productFragments :: page_link(1, '<<<')"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="productFragments :: page_link(${currentPage - 1}, 'Previous')"></a>
                </li>

                <li th:class="${currentPage == page ? 'page-item active' : 'page-item'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="productFragments :: page_link(${i}, ${i})"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="productFragments :: page_link(${currentPage + 1}, 'Next')"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="productFragments :: page_link(${totalPages}, '>>>')"></a></li>
            </ul>
        </nav>
    </div>
    <div class="text-center m-5" th:unless="${totalItems > 0}">
        Products not found
    </div>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>

                <div class="modal-body">
                    <span id="modalText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="buttonDelete">Delete</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-center" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
      $(".link-delete").on("click", function(e) {
        e.preventDefault();
        productId = $(this).attr("productId");
        productName = $(this).attr("productName");

        $("#buttonDelete").attr("href", $(this).attr("href"));
        $("#modalText").text("Are you sure you want to delete this product ID " + productId + "?");
        $("#modalDialog").modal();
      });

      $(".link-detail").on("click", function(e) {
        e.preventDefault();
        linkDetailUrl = $(this).attr("href");
        $("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl);
      });
    });

    function clearFilter() {
      window.location = "[[@{/products}]]";
    }
</script>

</body>
</html>