<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header(${pageTitle})"></head>
<body>
    <div th:replace="fragments :: header_menu"></div>
    <div class="text-center mt-4">
        <div>&nbsp;</div>
        <h1 class="m-3"> Customer Registration </h1><br>
        <h3 class="m-3"> You account was already verified, or the verification code is invalid. </h3><br>
        <div>&nbsp;</div>
    </div>

    <div th:replace="fragments :: footer_menu"></div>
</body>
</html>