<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header('Floyd - ' + ${SITE_NAME})"></head>
<style>
    .box{
        border: 1px solid;
        border-radius: 10px;
    }
</style>
<body>
    <div th:replace="fragments :: header_menu"></div>
    <div th:replace="fragments :: search_nav"></div>
    <div>
        <h1 class="ml-2"> Shopping By Categories </h1>
    </div>
    <div class="row">
        <div class="m-3 text-center" th:each="category : ${listCategories}">
            <div class="box m-3">
                <a th:href="@{'/c/' + ${category.alias}}">
                    <div class="p-2">
                        <img height="100px" th:src="@{${category.getImagePath()}}">
                    </div>
                    <div>
                        <strong> [[${category.name}]] </strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer_menu"></div>
</body>
</html>