<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header('Floyd')"></head>

<body>
    <div th:replace="fragments :: header_menu"></div>
    <div th:replace="fragments :: search_nav"></div>
    <div>
        <h1>Shopping By Categories</h1>
    </div>
    <div class="row">
        <div class="col m-3 text-center" th:each="category : ${listCategories}">
            <div>
                <img width="80" th:src="@{${category.getImagePath()}}">
            </div>
            <div>
                <strong><a th:href="@{'/c/' + ${category.alias}}">[[${category.name}]]</a></strong>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer_menu"></div>
</body>
</html>